#blazor-error-ui { display: none; position: fixed; bottom: 0; left: 0; right: 0; z-index: 2000; padding: 1rem; background: #331c18; color: white; }
#blazor-error-ui .dismiss { float: right; cursor: pointer; }
